*{
    font-family: "Outfit", sans-serif; 
}
:root{
    --black:black;
    --white:white;
    --purple-st:hsl(256, 67%, 59%);
    --purple-light:hsl(254, 88%, 90%);
    --yellow-st:hsl(39, 100%, 71%)
}
.container-card{
    height: 100vh;
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 100%;
    row-gap: 20px;
}
.card{
    
    border-radius: 15px;

}
.first{
    background-color: var(--purple-st);
    height: 210px;
  
}
.title, .italic,.paragraph-2{
    color: var(--white);
}
.yellow{
    color:var(--yellow-st)
}
.title{
  font-size: 35px;
  overflow-wrap: break-word;
  font-weight: 500;
  margin: 25px 40px;
  line-height: 30px;
  text-align: center;
}
.italic{
    font-style: italic;
}
.paragraph-2{
    text-align: center;
    position: relative;
    bottom: 0;
    margin-top: 5px;
    font-size: 15px;
}
.container-image{
 background-image: url('../images/illustration-five-stars.webp');
    background-repeat: no-repeat;
    background-size: 160px;
    background-position:center center;
    height: 25px;
}