*{
    font-family: "DM Sans", sans-serif; 
}
:root{
    --black:black;
    --white:white;
    --purple-st:hsl(256, 67%, 59%);
    --purple-light:hsl(254, 88%, 90%);
    --yellow-st:hsl(39, 100%, 71%);
    --yellow-light:hsl(31, 66%, 93%)
}
.container-card{
    height: 100vh;
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 100%;
    row-gap: 20px;
}
.card{
    
    border-radius: 15px;

}
.first{
    background-color: var(--purple-st);
    height: 210px;
  
}
.title, .italic,.paragraph-2{
    color: var(--white);
}
.yellow{
    color:var(--yellow-st)
}
.title{
  font-size: 35px;
  overflow-wrap: break-word;
  font-weight: 500;
  margin: 25px 40px;
  line-height: 30px;
  text-align: center;
}
.italic{
    font-style: italic;
}
.paragraph-2{
    text-align: center;
    position: relative;
    bottom: 0;
    margin-top: 5px;
    font-size: 15px;
}
.container-image{
 background-image: url('../images/illustration-five-stars.webp');
    background-repeat: no-repeat;
    background-size: 160px;
    background-position:center center;
    height: 25px;
}

/*segunda card*/
.second{
    background-color: hsl(32, 100%, 97%);
    background-image: url('../images/illustration-multiple-platforms.webp');
    background-repeat: no-repeat;
    background-size: 290px;
    height: 150px;
    position: relative;
}
.paragraph-second{
    position: absolute;
    bottom: 0;
    font-size: 18px;
    font-size: 22px;
  font-weight: 500;
}
/*tercera card*/

.third{
    background-color: var(--yellow-st);
    background-image: url('../images/illustration-consistent-schedule.webp');
    background-repeat: no-repeat;
    background-size: 185px;
    background-position: 15px bottom;
    height: 220px;
}
.paragraph-third{
    font-weight: 600;
    font-size: 20px;
    padding-left: 10px;
}

/*carta card*/

.fourth{
    background-color: var(--purple-light);
    background-image: url(../images/illustration-schedule-posts.webp);
    background-repeat: no-repeat;
    height: 400px;
    background-size: 265px;
    background-position: center 65px;
    position: relative;

}
.first-p-fourth{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.second-p-fourth{
    font-weight: 400;
    text-align: center;
    padding: 0px 15px;
    position: absolute;
    bottom: 0;
}