*{
    font-family: "DM Sans", sans-serif; 
}
:root{
    --black:black;
    --white:white;
    --purple-st:hsl(256, 67%, 59%);
    --purple-light:hsl(254, 88%, 90%);
    --yellow-st:hsl(39, 100%, 71%);
    --yellow-light:hsl(31, 66%, 93%);
    --weight:(490);
}
.attribution{
    margin-top: 30px;
}
.container-card{
    height: 100vh;
    display: grid;
    width: 83%;
    margin: auto;
    grid-template-columns: 100%;
    row-gap: 20px;
	background: #958b8b1c;
}
.card{
    border-radius: 15px;
}
.first{
    background-color: var(--purple-st);
    height: 210px;
  
}
.title, .italic,.paragraph-2{
    color: var(--white);
}
.yellow{
    color:var(--yellow-st)
}
.title{
    font-size: 35px;
    overflow-wrap: break-word;
    font-weight: 500;
    margin: 25px 40px;
    line-height: 30px;
    text-align: center;
}
.italic{
    font-style: italic;
}
.paragraph-2{
    text-align: center;
    position: relative;
    bottom: 0;
    margin-top: 5px;
    font-size: 15px;
}
/*en url la path va sin comillas, pero si las coloco igual lo lee*/
.container-image{
    background-image: url('../images/illustration-five-stars.webp');
    background-repeat: no-repeat;
    background-size: 160px;
    background-position:center center;
    height: 25px;
}

/*segunda card*/
.second{
    background-color: hsl(32, 100%, 97%);
    background-image: url(../images/illustration-multiple-platforms.webp);
    background-repeat: no-repeat;
    background-size: 290px;
    height: 150px;
    position: relative;
}
.paragraph-second{
    position: absolute;
    bottom: 0;
    font-size: 22px;
    font-weight: 500;
    padding: 0px 10px;
}
/*tercera card*/

.third{
    background-color: var(--yellow-st);
    background-image: url(../images/illustration-consistent-schedule.webp);
    background-repeat: no-repeat;
    background-size: 185px;
    background-position: 15px bottom;
    height: 220px;
}
.paragraph-third{
    font-weight: var(--weight);
    font-size: 25px;
    padding-left: 10px;
    line-height: 20px;
}

/*cuarta card*/

.fourth{
    background-color: var(--purple-light);
    background-image: url(../images/illustration-schedule-posts.webp);
    background-repeat: no-repeat;
    height: 400px;
    background-size: 265px;
    background-position: center 65px;
    position: relative;

}
.first-p-fourth{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.second-p-fourth{
    font-weight: 400;
    text-align: center;
    padding: 0px 20px;
    position: absolute;
    bottom: 0;
}
/*quinta card*/

.fifth{
    background-color: var(--purple-st);
    height: 320px;
    position: relative;
    background-image: url(../images/illustration-grow-followers.webp);
    background-repeat: no-repeat;
    background-size: 210px;
    background-position: 35px 25px;
}
.p-fifth {
    color: white;
    position:absolute;
    bottom: 0;
    padding: 0px 40px;
    text-align: center;
    line-height: 23px;
    font-size: 25px;
    font-weight: 500;
}
.sixth{
    background-color: #f7f3ef;
    background-image: url(../images/illustration-audience-growth.webp);
    height: 200px;
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: 20px 110px;
}
.first-p-sixth{
    font-size: 35px;
    font-weight: 600;
    padding-top: 10px;
}
.second-p-sixth{
    font-weight: 460;
}
.first-p-sixth, .second-p-sixth{
    margin:0px;
    padding-left: 20px;
}

.seventh{
    background-color: var(--yellow-light);
    height: 220px;
    background-image: url(../images/illustration-create-post.webp);
    background-size: 185px;
    background-repeat: no-repeat;
    background-position: 25px 110px;
}
.p-seventh{
    font-size: 25px;
    font-weight: 530;
    padding-left: 25px;
}
.purple{
    color:var(--purple-st)
}
.eighth{
    background-color: var(--yellow-st);
    height: 300px;
    background-image: url(../images/illustration-ai-content.webp);
    background-repeat: no-repeat;
    background-size: 170px;
    background-position: 25px 100px;
}
.p-eighth{
    font-size: 25px;
    font-weight: var(--weight);
    line-height: 25px;
    padding-left: 25px;
}

@media (min-width:1140px) {

    .container-card{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        'elemento7 elemento1 elemento1 elemento4'
        'elemento7 elemento1 elemento1 elemento4'
        'elemento8 elemento2 elemento3 elemento4'
        'elemento8 elemento6 elemento5 elemento5';
        grid-gap: 10px;
        width: 1140px;
    }

    .seventh{
        grid-area: elemento7;
    }
    .eighth{
        grid-area: elemento8;
        height: auto;
        background-size: 80%;
        background-position: bottom;
    }
    .p-eighth{
        font-size: 42px;
        font-weight: 600;
        line-height: normal;
        padding-left: 25px;
}
    .first{
        grid-area: elemento1;
        height: auto;

    }
    .fourth{
        grid-area: elemento4;
    }
    .second{
        grid-area: elemento2;
    }
    .third{
        grid-area: elemento3;
    }
    .fifth{
        grid-area: elemento5;
        height: 225px;
        background-position: 15px center;
    }
    .p-fifth{
        right: 0;
        top:22px;
        width: 285px;
        font-size: 33px;
        text-align: initial;
    }
    .sixth{
        grid-area: elemento6;
    }

}